{% extends "base.html" %}

{% block title %} CHANGE PASSWORD {% endblock %}

{% block head %}
{{ super() }}
<style></style>
{% endblock %}

{% block body %}
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.oldpassword.label }}: {{ form.oldpassword(id="oldpassword") }}
    {{ form.newpassword.label }}: {{ form.newpassword(id="newpassword") }}
    {{ form.newpassword2.label }}: {{ form.newpassword2(id="newpassword2") }}
    {{ form.submit }}
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<!--<script type="application/javascript" src="{{url_for('static', filename='js/app/login.js')}}"></script>-->
{% endblock %}