{% extends "index.html" %}

{% block title %} CHANGE PASSWORD {% endblock %}

{% block body %}
<form method="post">
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>{{ form.oldpassword.label }}:</td>
            <td>{{ form.oldpassword(id="oldpassword") }}</td>
        </tr>
        <tr>
            <td>{{ form.newpassword.label }}:</td>
            <td>{{ form.newpassword(id="newpassword") }}</td>
        </tr>
        <tr>
            <td>{{ form.newpassword2.label }}:</td>
            <td>{{ form.newpassword2(id="newpassword2") }}</td>
        </tr>
    </table>
    {{ form.submit }}
</form>
{% endblock %}
