{% extends "index.html" %}

{% block title %} {{ g.u.username }}'s Home Page {% endblock %}

{% block body %}
    <div>
        <table>
            <tr>
                <td><label>UID: </label></td>
                <td><p>{{ g.u.id }}</p></td>
            </tr>
            <tr>
                <td><label>username: </label></td>
                <td><p>{{ g.u.username|caps }}</p></td>
            </tr>
            <tr>
                <td><label>Email: </label></td>
                <td><p>{{ g.u.email }}</p></td>
            </tr>
        </table>
    </div>
{% endblock %}
