{% extends "base.html" %}

{% block title %} LOGIN {% endblock %}

{% block head %}
{{ super() }}
<style></style>
{% endblock %}

{% block body %}
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.username.label }}: {{ form.username(id="username") }}
    {{ form.password.label }}: {{ form.password(id="password") }}
    {{ form.submit }}
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<!--<script type="application/javascript" src="{{url_for('static', filename='js/app/login.js')}}"></script>-->
{% endblock %}
